 <div class="container">
 <div class="border border-dark onion jumbotron bg-white">
  <h1 class="display-3 text-center">Mongo News Scraper</h1>
  <p class="lead text-center">See What's Going on at The Onion!</p>
  <hr class="my-2">
  <p class="lead">
    
      
     
      
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            
               <span>
      <a class="btn-lg bkgrd text-white  m-1" href="/" role="button">Home</a>
  
    </span>
            </div>
        
          <div class="col-md-4"></div>
   
      </div>
      

      
    
  
  </p>
</div>
<div class="row">

  <span>
    {{#each article}}
    <div class="card m-1 border border-dark onion">
  <div class="card-body">
    <h4 class="card-title text-left">{{this.title}} </h4>
       
       
    <p class="card-text m-1">
     {{this.body}} <br>
    </p>
    <a class="m-1 onion" href={{this.link}}>Go to Article</a>
     <div class="row">
       <div class="col-md-10"></div>
       <div class="col-md-2">
        <button class ="btn-lg bkgrd text-white" id = "addComment">Add Comment</button>
      </div>
      </div>
      <div class="row" id = "artComment" data-id={{this.id}}>
        <div class="col-md-2"></div>
        <div class="col-md-8" id = "comContent"></div>
        <div class="col-md-2"></div>
        
      </div>

    </p>
  
  </div>
  </div>
  {{/each}}
  </span>
</div>